@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import './_background-animation.scss';

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    // border: 5px solid black;
}

h1{
    margin: 0;
    font-family: 'Silkscreen', cursive;
    margin: 2rem 0;
    margin-bottom: 5rem;
    display: none;

    @media screen and(max-width: 550px) {
        margin: 1rem 0;
        margin-bottom: 4rem;
        font-size: 100%;
    }
}

.big-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: flex-start;
    justify-content: center;
    min-height: 100vh;
}

.music-player{
    // border: 1px solid black;
    width: 35rem;
    min-height: 30rem;
    padding: 2rem;
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    justify-content: inherit;
    background-color: rgba(255, 255, 255, 0.4);
    color: #000;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    position: relative;
    padding-bottom: 5rem;
    margin-top: 2rem;

    @media screen and(max-width: 550px) {
        width: 96%;
    }

    &_header{
        //  border: 1px solid black;
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: flex-start;
         position: relative;
         top: -5rem;
        
         &_img{
            width: 17rem;
            height: 17rem;
            object-fit: cover;
            // filter: invert(.8);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
            border-radius: 50%;

            @media screen and(max-height: 700px) {
                width: 12rem;
                height: 12rem;
            }
         }

        //  & h2, & h3{ margin: 0}

         &_song-title{
            padding: .2rem;
            margin-top: 1rem;
            margin-bottom: 0;
            font-family: 'Babylonica', cursive;
            font-size: 2.2rem;
            font-weight: 400;
            // text-shadow: 1px 1px 3px rgba(255, 255, 255, .5);
            letter-spacing: .3rem;
            text-align: center;
         }

         &_componist{
            padding: .2rem;
            margin: 0;
            font-weight: 400;
            font-size: 1rem;
         }
    }

    &_progress{
      
        &_container{
            //  border: 1px solid black;
             width: 100%;
             background-color: #fff;
             height: .4rem;
             margin-bottom: 2rem;
             position: relative;
             border-radius: 1rem;
        }

        &_duration-wrapper{
            // border: 1px solid black;
            display: flex;
            justify-content: space-between;
            margin-bottom: .2rem;
            position: relative;
            top: -2rem;
        }

        &_progress-bar{
            background-color: #000;
            width: 0%;   
            height: .4rem;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 1rem;
            cursor: pointer;
        }
    }

    &_controls-container{
        // border: 1px solid black;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        & .action-controls{
            // border: 1px dashed black;
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            & i{
                font-size: 1.8rem;
                color: rgba(0, 0, 0, 0.8);
                text-shadow: 0 1px 3px rgba(0,0,0,0.5);
                cursor: pointer;

                &:hover{
                    color: rgba(0, 0, 0, 0.4);
                }
            }
        }

        & .volume{
            // border: 1px solid black;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 2rem;
            background-color: rgba(0, 0, 0, 1);
            position: absolute;
            bottom: 0;
            left: 0;
            padding: .5rem;
            border-radius: 0 0 1rem 1rem;
            box-shadow: 
                0 3px 20px rgba(255, 255, 255, 0.4) inset;
            opacity: 1;
           

            & i{
                font-size: 1.8rem;
                color: rgba(255, 255, 255, 0.8);
                text-shadow: 0 1px 3px rgba(0,0,0,0.5);
                cursor: pointer;
                margin-right: 1rem;

                &:hover{
                    color: rgba(255, 255, 255, .9);
                }
            }

            & .range-wrapper{
                position: relative;
                width: 90%;
                height: 1rem;
           
                & .bar{
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.8);
                    box-shadow: 
                        0 3px 5px rgba(0, 0, 0, .5) inset;
                    cursor: pointer;
                }

                & .thumb{
                    width: 70%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.7);
                    position: absolute;
                    top: 0;
                    left: 0;
                    cursor: pointer;
                }
            }

        }
        
    }
}
